.banier
{
  height: 550px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.banierh1
{
  background-color: white;
  height: 100px;
  width: 100%;
  color: var(--basecolor);

}
.carte
{
    padding: 20px;
    margin: 20px;
    margin-left: 78px;
}
.carte img
{
    margin: 0 auto;
    width: 150px;
    height: 150px;
}
.card-body
{
    background-color: var(--secondColor);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}
.card-body h5
{
    text-align: center;
    font-weight: var(--titreSectionGraisse);
}
.card
{
    width: 80%;
    border:1px solid black;
    border-radius: 25px;
}