.banier
{
  padding-top:90px;
  height: 650px;
  width: 100%;
}
.banierh1
{
  background-color: white;
  background-size: cover;
  border: 6px solid var(--baseColor);
  width: 100%;
  padding-top: 59.3px;
  padding-bottom: 59.3px;
  color: var(--baseColor);
  position: relative;
  top: -364.4px;
  text-align: center;
  text-shadow:2px 2px 2px 2px white;
}
.carte
{
    padding: 20px;
    margin: 20px;
    margin-left: 78px;
}
.carte img
{
    margin: 0 auto;
    width: 150px;
    height: 150px;
}
.card-body
{
    background-color: var(--secondColor);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}
.card-body h5
{
    text-align: center;
    font-weight: var(--titreSectionGraisse);
}
.card
{
    width: 80%;
    border:1px solid black;
    border-radius: 25px;
    box-shadow: 6px 8px 16px 6px rgba(0,0,0,0.2);

}